$w-0-5:5px;
$w-1:10px;
$w-1-5:15px;
$w-2:20px;
$w-2-5:25px;
$w-3:30px;
$w-3-5:35px;
$w-4:40px;
$w-4-5:45px;
$w-5:50px;
$w-6:60px;
$w-7:70px;
$w-8:80px;
$w-9:90px;
$w-10:100px;
$w-15:150px;
$w-20:200px;
$w-25:250px;
$w-30:300px;
$w-35:350px;
$w-40:400px;
$w-45:450px;
$w-50:500px;
$wv-25:25vw;
$wv-50:50vw;
$wv-75:75vw;
$wv-100:100vw;

$h-0-5:5px;
$h-1:10px;
$h-1-5:15px;
$h-2:20px;
$h-2-5:25px;
$h-3:30px;
$h-3-5:35px;
$h-4:40px;
$h-4-5:45px;
$h-5:50px;
$h-6:60px;
$h-7:70px;
$h-8:80px;
$h-9:90px;
$h-10:100px;
$h-15:150px;
$h-20:200px;
$h-25:250px;
$h-30:300px;
$h-35:350px;
$h-40:400px;
$h-45:450px;
$h-50:500px;
$wh-25:25vh;
$wh-50:50vh;
$wh-75:75vh;
$wh-100:100vh;