* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.box1 {
  height: 400px;
  width: 400px;
  border: 10px solid black;
  border-left-color: green;
  border-radius: 50%;
  background-color: white;
  animation: Clock 4s linear infinite;
}
.box2 {
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 50%;
  position: absolute;
  border-left-color: red;
  background-color: blue;
  animation: AntiClock 5s linear infinite;
}
@keyframes Clock {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes AntiClock {
  0% {
    rotate: 360deg;
  }
  100% {
    rotate: 0deg;
  }
}
