$pos-rel:relative;
$pos-fix:fixed;
$pos-abs:absolute;
$pos-stk:sticky;
$pos-stc:static;

$brd-1:1px;
$brd-2:2px;
$brd-3:3px;
$brd-4:4px;
$brd-5:5px;
$brd-no:none;

$op-1:0.1;
$op-2:0.2;
$op-3:0.3;
$op-4:0.4;
$op-5:0.5;
$op-6:0.6;
$op-7:0.7;
$op-8:0.8;
$op-9:0.9;
$op-10:1;

$ofw:hidden;

$txt-no:none;

$lst-no:none;

$brd-rad0-5:5px;
$brd-rad1:10px;
$brd-rad2:20px;
$brd-rad3:30px;
$brd-rad4:40px;
$brd-rad5:50px;
$brd-rad6:60px;
$brd-rad7:70px;
$brd-rad8:80px;
$brd-rad9:90px;
$brd-rad10:100px;
$brd-rad25:25%;
$brd-rad50:50%;
$brd-rad75:75%;
$brd-rad100:100%;