$clr-wht:White;
$clr-red:red;
$clr-blc:black;
$clr-blu:blue;
$clr-org:orange;
$clr-grn:green;
$clr-ylw:yellow;
$clr-gry:gray;
$clr-pnk:pink;
$clr-atw:antiquewhite;
$clr-aqa:aqua;
$clr-brn:brown;
$clr-dpik:rgb(255, 0, 68);