$d-flex:flex;
$d-blk:block;
$d-in-blk:inline-block;

$flt-ie:inline-end;
$flt-is:inline-start;
$flt-lft:left;
$flt-lrig:right;

$jst-cen:center;
$jst-end:end;
$jst-spa:space-around;
$jst-spb:space-between;
$jst-spe:space-evenly;

$align-c:center;
$align-e:end;
$align-fe:flex-end;
$align-fs:flex-start;
$align-se:flex-start;
$align-ss:flex-start;

$txt-cen:center;
$txt-srt:start;
$txt-end:end;
$txt-jst:justify;

$ver-btm:bottom;
$ver-top:top;
$ver-mid:middle;
$ver-sub:sub;
$ver-sup:super;
$ver-txtb:text-bottom;
$ver-txtt:text-top;

$box-bbox:border-box;
$box-cbox:content-box;

$flex-c:column;
$flex-cr:column-reverse;
$flex-r:row;
$flex-rr:row-reverse;

$f-wrap:wrap;